.lightModebgColor{
  background-color: #ffffff;
  & .bgColorAlternate{
    background-color: #aca2a2;
  }
}


.DarkModebgColor{
  background-color: #2d1255;
  & .bgColorAlternate{
    background-color: #40187a;
  }
}